.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.btnSubmit {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: #0056b3;
}

.link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.loginContainer {
  min-height: calc(100vh - 100px); /* Trừ chiều cao của Header và Footer nếu có */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; /* Màu nền nhạt cho toàn trang */
}
.divider::before,
.divider::after {
  content: "";
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
  width: 40%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.socialButton {
  margin-top: 10px;
}