/* Promotions.module.css */
.container {
  margin-top: 30px;
  
}

.card {

  transition: transform 0.3s ease-in-out;
  height: 500px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 250px; /* Đặt chiều cao cố định */
  object-fit: cover;
}

.card-title {
  height: 20%;
  font-size: 1.25rem;
  font-weight: bold;
}
.cardText{
    height: 45%;
}
.card-body {
  text-align: center;
  height: 250px;
}
.PageContainer {
  min-height: calc(100vh - 100px); /* Trừ chiều cao của Header và Footer nếu có */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Màu nền nhạt cho toàn trang */
}